<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>УБРиР.mod</title>
    <link rel=icon href="../source/favicon.png" sizes="16x16" type="image/png">
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
    <link rel="stylesheet" type="text/css" href="../styles/checkbox.css">
    <link rel="stylesheet" type="text/css" href="../styles/mod.css">
    <link rel="stylesheet" type="text/css" href="../styles/button.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="https://www.ubrr.ru/" class="img-link"><img class="logo" src="../source/Logo.png" alt="error"></a>
            <a href="http://api.justmsn.ru/" class="docs">Документация</a>
            <a href="index.html" class="acc">Личный кабинет</a>
            <a href="mod.html" class="mod">УБРиР.mod</a>
        </div>
    </div>
    <div class="site-content">
        <div class="nice-card">
            <div class="head-acc">УБРиР.mod</div>
            <div class="description-acc">Оплачивайте услуги, создавайте объявления прямо из личного кабинета!</div>
        </div>
        <div class="connected-organizations">
            <div class="organizations">Ваши подключенные организации</div>
            <div class="organizations-list">
                <div class="organization">
                    <div class="image"></div>
                    <div class="organization-description">
                        <div>drom-drom.ru</div>
                        <div>Опубликуйте объявление о продаже машины</div>
                    </div>
                    <button class="button organization-button">Опубликовать</button>
                </div>
            </div>
        </div>
        <div class="allow-organizations">
            <div class="organizations">Все организации</div>
            <div class="organizations-description">Организации с неактивной кнопкой на данный момент недоступны. Мы делаем все возможное, чтобы они вновь заработали! Извините за доставленные неудобства :(</div>
            <div  class="organizations-list">
                <div class="organization">
                    <div class="image"></div>
                    <div class="organization-description">
                        <div>click-click.ru</div>
                        <div>Опубликуйте объявление о продаже квартиры</div>
                    </div>
                    <button class="button organization-button">Подключить</button>
                </div>
                <div class="organization">
                    <div class="image"></div>
                    <div class="organization-description">
                        <div>Pizza-mizza</div>
                        <div>Закажите пиццу на дом!</div>
                    </div>
                    <button class="button organization-button">Подключить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div>Команда "Шалом" | 2019</div>
    </div>
</body>
</html>